@using Microsoft.AspNetCore.Identity 
@model IdentityApp.ViewModels.ChangeRoleViewModel 

@{ 
    ViewData["Title"] = $"{Model.UserName}'s roles";

    string returnUrl = Model.ReturnUrl.Contains("Account") 
        ? $"/Account?userName={Model.UserName}" : "/Users/Index";
}

<h2>Changing roles for @Model.UserName</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <input type="hidden" asp-for="ReturnUrl" value="@returnUrl" />

    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name" 
                @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name<br />
        }
    </div>
    <div class="form-group">
        <a asp-action="Edit" asp-controller="Account" asp-route-userId="@Model.UserId"
           asp-route-returnUrl="@returnUrl" class="btn btn-outline-secondary">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>