@model IdentityApp.ViewModels.CreatePostViewModel 

@{
    ViewData["Title"] = "Creating a post";
}

<link href="~/css/account_profile.css" rel="stylesheet" />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Post.PostedTime" value="@DateTime.Now" />
    <input type="hidden" asp-for="Post.User.UserName" 
           value="@Model.User.UserName" />
    <input type="hidden" asp-for="Post.User.Id" value="@Model.User.Id" />
    <input type="hidden" asp-for="Post.Id" 
           value="@System.Guid.NewGuid().ToString()" />

    <div class="form-group">
        <label asp-for="Post.Content" class="control-label"></label><br />
        <textarea asp-for="Post.Content" placeholder="Your thoughts..."
                  class="form-control" rows="6"></textarea>
        <span asp-validation-for="Post.Content"></span>
    </div>
    <div class="form-group custom-file mb-3">
        <label class="custom-file-label" for="custom-file">
            Choose pictures
        </label>
        <input type="file" asp-for="PostPictures" class="custom-file-input"
               id="custom-file" accept="image/jpeg,image/png" multiple />
    </div>
    <div class="form-group">
        <a asp-action="Index"
           asp-controller="Account"
           asp-route-userName="@Model.User.UserName"
           class="btn btn-outline-secondary">
            Cancel
        </a>
        <input type="submit" value="Post" class="btn btn-primary" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            $(".custom-file-label").text(
                `Pictures chosen: ${$(this)[0].files.length}`);
        });
    </script>
}