@model IdentityApp.ViewModels.EditPostViewModel

@{
    ViewData["Title"] = "Editing a post";
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="validation alert alert-danger" role="alert"></div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <input type="hidden" asp-for="UserName" value="@Model.UserName" />
    <input type="hidden" asp-for="CalledFromAction" value="@Model.CalledFromAction" />
    <input type="hidden" asp-for="Page" value="@Model.Page" />

    <div class="form-group">
        <label asp-for="Content">Post</label><br />
        <textarea asp-for="Content" id="post" placeholder="Your thoughts..." class="form-control" rows="6"></textarea>
        <span asp-validation-for="Content"></span>

        <div class="mt-3 mb-1">
            @foreach (PostPicture postPicture in Model.PostPictures)
            {
                <span class="post-picture-container">
                    <img height="150" class="post-picture mb-1" alt="post_picture"
                         src="data:image/jpeg;base64,@(Convert.ToBase64String(postPicture.PictureData))" />
                    <a class="btn btn-sm btn-danger delete-button" value="@postPicture.Id" style="color: #fff;">Delete</a>
                </span>
            }
        </div>

        <div class="form-group custom-file mt-1">
            <label asp-for="AppendedPostPictures" class="custom-file-label" for="custom-file">Choose pictures</label>
            <input type="file" asp-for="AppendedPostPictures" id="post-picture" class="custom-file-input"
                accept="image/jpeg,image/png" multiple />
        </div>
    </div>
    <div class="form-group">
        @if (Model.CalledFromAction.Contains("Account"))
        {
            <a asp-action="Index" 
                asp-controller="Account" 
                asp-route-userName="@Model.UserName"
                asp-route-page="@Model.Page"
                class="btn btn-outline-secondary">Cancel</a>
        }
        else
        {
            <a asp-action="@(Model.CalledFromAction.Contains("Feed") ? "Feed" : "Index")" 
                asp-controller="Home" 
                asp-route-page="@Model.Page"
                class="btn btn-outline-secondary">Cancel</a>
        }

        <input type="submit" class="btn btn-primary save-button" value="Save" />

        <a asp-action="Delete" 
            asp-route-postId="@Model.Id" 
            asp-route-returnUrl="@Model.CalledFromAction" 
            asp-route-page="@Model.Page"
            class="d-inline float-right btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            Delete
        </a>
    </div>
</form>

@section Scripts 
{
    <script type="text/javascript">
        $(".save-button").on("click", function() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "PostPicture")",
                data: {postPictureIds: postPicturesToDelete, postId: "@Model.Id"},
                dataType: "text"
            });
        });
    </script>
}