@using System.IO
@model SimpleSocialMedia.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = $"Editing {Model.UserName}";

    byte[] imageData = null;

    if (Model.ProfilePicture != null)
    {
        using (BinaryReader binaryReader = new BinaryReader(Model.ProfilePicture.OpenReadStream()))
        {
            imageData = binaryReader.ReadBytes((int)Model.ProfilePicture.Length);
        }
    }
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="validation alert alert-danger" role="alert"></div>

    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="Email" value="@Model.Email" />
    <input type="hidden" asp-for="CalledFromAction" value="@Model.CalledFromAction" />
    <input type="hidden" asp-for="AuthenticatedUserRoles" value="@Model.AuthenticatedUserRoles" />

    <div class="form-group">
        <label asp-for="ProfilePicture" class="control-label"></label><br />
        <img class="border border-3 border-secondary rounded-circle" id="profile-pic" alt="profile_picture"
             src="data:image/jpeg;base64,@(Convert.ToBase64String(imageData))" /><br />

        <div class="form-group custom-file mt-3">
            <label class="custom-file-label" for="custom-file">Choose a picture</label>
            <input type="file" asp-for="ProfilePicture" id="profile-pic-input" class="custom-file-input"
                accept="image/jpeg,image/png" onchange="loadFile(event)" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label><br />
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label><br />
        <input type="number" asp-for="Year" class="form-control" />
        <span asp-validation-for="Year"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label><br />
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label><br />
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label><br />
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label"></label><br />
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company"></span>
    </div>

    <div class="form-group">
        @if (Model.CalledFromAction.Contains("Users"))
        {
            <a asp-action="Index" asp-controller="Users" class="btn btn-outline-secondary">Cancel</a>
        }
        else
        {
            <a asp-action="Index" asp-controller="Accounts" asp-route-userName="@Model.UserName" 
                class="btn btn-outline-secondary">Cancel</a>
        }

        <input type="submit" value="Save" class="btn btn-primary" />

        <div class="float-right">
            <a asp-action="ChangePassword" asp-controller="Users" asp-route-userId="@Model.Id"
               asp-route-returnUrl="@Model.CalledFromAction" class="btn btn-secondary">Change Password</a>

            @if (Model.AuthenticatedUserRoles.Contains("admin"))
            {
                <a asp-action="Edit" asp-controller="Roles" asp-route-userId="@Model.Id"
                   asp-route-returnUrl="@Model.CalledFromAction" class="btn btn-secondary">Change Roles</a>
            }

            <a asp-action="Delete" asp-controller="Users" asp-route-userId="@Model.Id"
                asp-route-returnUrl="@Model.CalledFromAction" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                Delete
            </a>
        </div>
    </div>
</form>